<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Selamat datang di Praktikum TCC pertemuan 5 haha</h3>
    <div>Daftar Endpoint API:</div>
    <table border="1">
      <thead>
        <tr>
          <td>Metode</td>
          <td>Endpoint</td>
          <td>Deskripsi</td>
        </tr>
      </thead>
      <tbody style="font-family: monospace">
        <tr>
          <td>GET</td>
          <td>/users</td>
          <td>Mengambil seluruh data dari tabel users.</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/users/:id</td>
          <td>Mengambil data dari tabel users berdasarkan id.</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>/add-user</td>
          <td>Menambahkan data baru ke tabel users.</td>
        </tr>
        <tr>
          <td>PUT</td>
          <td>/edit-user/:id</td>
          <td>Mengubah data dari tabel users berdasarkan id.</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>/delete-user/:id</td>
          <td>Menghapus data dari tabel users berdasarkan id.</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
